/*Overarching + index Styles*/

body {
  background-color: #8B0300;
}

.jumbotron img {
  float: left;
  max-height: 40%;
  max-width: 40%;
  padding: 15px;
  margin: 10px;
  border-radius: 50%
}

.jumbotron {
  overflow: hidden;
  text-align: center;
  background-color: #21D1C8;
  color: white;
}

.mainLinks {
  text-align: center;
}

.well {
  text-align: center;
  overflow: hidden;
  background-color: #21D1C8;
}

.well img {
  border-radius: 50%;
}

.panel img {
  max-width: 35%;
  max-height: 35%;
  float: left;
  margin: 10px;
}

.panel-heading {
  text-align: center;
}

.navigation {
  text-align: center;
}

/*Resume Styles*/
.resume {
  display: block;
  text-align: center;
  padding: 10px;
  margin: 30px;
}


/*Portfolio Styles*/

.panel-body {
  background-color: #3C64A8;
  color: white;
  padding: 10px;
}
