/*Overarching + index Styles*/

body {
  background-color: #8B0300;
}

.jumbotron {
  overflow: hidden;
  text-align: center;
  background-color: #21D1C8;
  color: white;
}

.jumbotron img {
  float: left;
  max-height: 40%;
  max-width: 40%;
  padding: 15px;
  margin: 10px;
  border-radius: 50%
}

.mainLinks {
  text-align: center;
}

.well {
  text-align: center;
  overflow: hidden;
  background-color: #21D1C8;
}

.well img {
  border-radius: 50%;
}


.panel-heading {
  text-align: center;
}

.navigation {
  text-align: center;
}

/*Resume Styles*/
.resume {
  display: block;
  text-align: center;
  padding: 10px;
  margin: 30px;
}


/*Portfolio Styles*/

.panel-body {
  background-color: #3C64A8;
  color: white;
  padding: 10px;
}

.projectBlurb {
  font-style: italic;
}

ul {
  display: inline-block;
}

.panel img {
  max-width: 35%;
  max-height: 35%;
  float: left;
  margin: 10px;
}

.Portfolio-collab {
  font-size: 12px;
  color: #D4DBDB;
}

/*About Me Styles*/
#about.jumbotron{
  background-image: url(https://media.giphy.com/media/kCZdfEj5oyaGs/giphy.gif);
  background-repeat: no-repeat;
  padding: 150px;
  margin: 20px;
  /*border-radius: 50%;*/
  background-position: center;
}

.sidebar {
  text-align: center;
  background-color: #F2DC1D;
  display: table-cell;
  display: table-row;
  height: 100%;
  margin-top: 100px;
}
